doctype html
html
	head
		title ¡El mejor lugar del mundo!
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400")
		link(rel="stylesheet", href="/css/animate.css")
		block contenidos